version: '3.8'

services:

  localstack:
    image: localstack/localstack
    container_name: kbomutations_localstack
    ports:
      - 127.0.0.1:4566:4566            # LocalStack Gateway
      - 127.0.0.1:4510-4559:4510-4559  # external services port range
    environment:
      SERVICES: s3,sqs,lambda,dynamodb,iam,logs,ssm
      # LOCALSTACK_HOST: localstack
      DOCKER_HOST: unix:///var/run/docker.sock
      DEFAULT_REGION: us-east-1
      DEBUG: 1
      # DATA_DIR: /tmp/localstack/data
      LAMBDA_RUNTIME_IMAGE_MAPPING: '{"dotnet6":"public.ecr.aws/lambda/dotnet:6.2024.02.07.19-x86_64"}'
      LAMBDA_RUNTIME_ENVIRONMENT_TIMEOUT: 120
      LAMBDA_REMOVE_CONTAINERS: 0
      PORT_WEB_UI: 8080
    volumes:
      - .localstack/init:/etc/localstack/init
      - .localstack/lambda:/etc/localstack/lambda
      - .localstack/s3data:/tmp/localstack-s3-storage
      - localstack-data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
    networks: 
      - localstack-net

  wiremock:
    image: wiremock/wiremock:2.35.0-1
    container_name: vr_wiremock
    ports:
      - 8080:8080
    command:
      - -verbose
      - -global-response-templating
    volumes:
      - ./wiremock:/home/wiremock
    networks: 
      - localstack-net
  acm:
    image: ghcr.io/informatievlaanderen/identity-server-fake:1284967
    volumes:
      - ./identityserver:/home/identityserver
    ports:
      - "5051:80"
    networks:
      - localstack-net
  seq:
    image: datalust/seq
    restart: always
    ports:
      - "9580:80"
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_NOAUTHENTICATION: True
    volumes:
      - seq-data:/data
    networks:
      - localstack-net

  ftp:
    image: rhrn/vsftpd
    container_name: kbomutations_sftp
    environment:
      - PASSWORD=FSBhuNOR
    ports:
      - '21000:21'
      - '20000:20000'
    volumes:
      - ./sftp/cert:/etc/vsftpd/
      - ./sftp/files:/home/files

  otel-collector:
    image: otel/opentelemetry-collector-contrib
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"   # OTLP gRPC receiver
    networks:
      - localstack-net
  
volumes:
  localstack-data:
  seq-data:
networks:
  localstack-net: