receivers:
  otlp:
    protocols:
      grpc:

exporters:
  debug:

  otlphttp:
    endpoint: http://seq/ingest/otlp

processors:
  batch:

service:
  pipelines:
    traces:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ debug ]
    metrics:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ debug ]
    logs:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ debug, otlphttp ]
